<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Total Balance</th>
      <th>Total Items Sold</th>
    </tr>
  </thead>
  <tbody>
    <% sexo.each do |month, totals| %>
      <tr>
        <td><%= month.strftime("%B %Y") %></td>
        <td><%= totals[0] %></td>
        
        <td><%= totals[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%=  render "dashboard/sexo"%>