<!-- app/views/stock/show.html.erb -->
<h1><%= @stock.name %></h1>

<p>
  <strong>User ID:</strong>
  <%= @stock.user_id %>
    <strong>Price:</strong>
  <%= @stock.price %>
    <strong>Amount</strong>
  <%= @stock.amount %>
</p>